.form-control:focus {
  box-shadow: none !important;
  border-color: black; 
  background-color: none !important;
  
}
.login-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color:#ff5722;
}

.custom_Form{
  width: 32% !important;
}
.custom_Form:focus {
  border-color: black !important;
}

/*--------------Car Styling---------------------*/
.card:hover {
  background-color: #f9f9f9;
  transition: 0.3s;
}
